# Define que o Git sempre converterá delimitadores de linha em CRLF

*.txt eol=crlf
*.md eol=crlf
*.java eol=crlf
*.sql eol=crlf

# Colocando sql como linguagem no github

*.sql linguist-detectable=true
*.sql linguist-language=sql
